body {
  font-family: sans-serif;
}

#page-container {
  max-width: 800px;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: auto;
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  position: center;
  display: block;
  margin: auto;
}

aside {
  width: 250px;
  height: -webkit-fill-available;
  background-color: blue;
}

h1 {
  color: gold;
}

li {
  list-style-type: none;
}

#base-info li {
  color: white;
  display: inline-block;
  padding-inline-end: 20px;
}

#base-info li > span {
  font-size: small;
  word-break: break-word;
}

#my-career ul {
  padding-inline-start: initial;
}

.sidebar-list {
  font-weight: bold;
}

.content-list-title {
  font-weight: bold;
}

.content-list-subtitle {
  font-size: small;
  color: blue;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card-container ul {
  margin-top: 0;
}

.card-container h2 {
  margin: 0;
}

footer {
  max-width: 800px;
  margin: auto;
}

footer > div {
  place-self: flex-start;
}
